services:
    db:
        image: postgres:13
        volumes:
            - postgres_data:/var/lib/postgresql/data
        environment:
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_USER=postgres
            - POSTGRES_DB=securelog
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5

    server:
        build: ./server
        ports:
            - "8000:8000"
        environment:
            - DATABASE_URL=postgresql://postgres:postgres@db:5432/securelog
        depends_on:
            db:
                condition: service_healthy

    web:
        build: ./web
        ports:
            - "80:80"
        depends_on:
            - server
        environment:
            - REACT_APP_API_URL=http://localhost:8000

volumes:
    postgres_data:
